<footer class="footer">   
   <div class="container text-center">
          <div class="container">
            <div class="button-container">                      
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/shuklashailja/"
                target="_blank" rel="tooltip" title="Follow me on Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/im-stg"
                target="_blank" rel="tooltip" title="Follow me on Github">
                <i class="fa fa-github"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/Shailja57251100"
                target="_blank" rel="tooltip" title="Follow me on Twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip"
                title="Follow me on Google+">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
        </div>
   
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>