<footer class="footer">   
   <div class="container text-center">
          <div class="container">
            <div class="button-container">                      
              <a class="btn btn-default btn-round btn-lg btn-icon " href="https://www.linkedin.com/in/shuklashailja/"
                target="_blank" rel="tooltip" title="Follow me on Linkedin">
                <i class="fab fa-linkedin bgcolor"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/im-stg"
                target="_blank" rel="tooltip" title="Follow me on Github">
                <i class="fab fa-github bgcolor"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/Shailja57251100"
                target="_blank" rel="tooltip" title="Follow me on Twitter">
                <i class="fab fa-twitter bgcolor"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.hackerrank.com/shailjashukla42" target="_blank" rel="tooltip"
                title="Follow me on Hackerrank">
               
                <i class="fab fa-hackerrank bgcolor" ></i>
              </a>

            
            </div>
          </div>
        </div>
   
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>