<div  id="contact" style = "  background-image: url('assets/images/background.png');
  background-color: rgb(220, 226, 228); 
  background-blend-mode:soft-light;">
        <div class="cc-contact-information" >
            <div class="cc-contact">          
              <div class="col-md-9">
                  <h3>Lets connect! Would love to hear about your project ideas or thoughts what we might build together!</h3>
                  
                  <section id="contact" class="contact-section">
                    
                              <div class="contact-form">
                              <form method="POST" action="https://formspree.io/mvozjeav">
                                <input
                                  type="email"
                                  name="_replyto"
                                  placeholder="Your email"
                                  class="bgcolor"
                                  required
                                />
                                <textarea
                                  name="message"
                                  placeholder="Your message"
                                  class="bgcolor"
                                  required
                                ></textarea>
                                <button type="submit" class="bgcolor">Send Message</button>
                              </form>
                            </div>
                          </section>
              
                </div>
              </div>
       </div>
     