<div class="section" id="education" style="background-image: url('assets/images/education.png');  
background-color: rgb(159, 184, 187);  background-blend-mode:soft-light; display: inline; " >
    <div class="container cc-education"  >
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">

          <div class="cc-profile-image" >
           
            <img src="assets/images/igdtuw.png" alt="Image" />
          
        </div>
         
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Masters in Computer Application (2016 - 2019)</div>
               <h4 class="category">Indira Gandhi Delhi Technical University for Women
               </h4>
               <ul>
                <li> IGDTUW (formerly known as IGIT) is the <b>first</b> all women engineering university in South Asia. </li>
                    <li>Completed MCA in Information Technology with <b> 77%</b>.</li>
               </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">


          <div class="cc-profile-image" >
           
              <img  src="assets/images/mdu.png" alt="Image" />
            
          </div>
     
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelors in Computer Application (2013 - 2016) </div>
               <h4 class="category">Maharishi Dayanand University
               </h4>
               <ul>
                  <li>Completed BCA in Computer Applications with <b>73.4%</b>.</li>
                 <li>Participated in cultural Fest of College.</li>
                 <li>640 AIR in NIMCET-2016</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="cc-profile-image" >
           
            <img src="assets/images/school.png" alt="Image" />
          
        </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary (2012 - 2013)</div>
               <h4 class="category">St. Crispin's Senior Secondary School 
               </h4>
               <ul>
                <li>
                  High focus on the bases of science, mathematics, and chemistry.
                                  </li>
                                  <li>
                                     Chemistry topper of the school.
                                  </li>
                                  <li>
                                      Completed my high school with<b> 82%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="cc-profile-image" >
           
            <img src="assets/images/school.png" alt="Image" />
          
        </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School (2010 - 2011)</div>
               <h4 class="category">St. Crispin's Senior Secondary School 
                                </h4>
               <ul>
                <li>The Secondary aims at Maths , English , Science, Social Science, Literature and Languages.
                </li>
               
                <li>
                    Completed my Secondary school with <b>87.5%</b>.
                </li>
                <li> Partcipated in Math and Science Olympiads.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>