<div class="profile-page">
    <div class="wrapper" >
      <div class="page-header page-header-small" style = "background-color: rgb(10, 43, 126);">
       
        <div class="container">
       
<br><br><br>
                  
                  <h4
                    style="text-shadow: 0 1px 3px rgba(170, 214, 243, 0.2);"
                  >
                    <strong
                      >
                      
                    <h5>Hey, I'm Shailja</h5>
                    <div class="cc-profile-image" >
                      <a href="#" >
                        <img src="assets/images/intro.png" alt="Image" />
                      </a>
                    </div>
                              
                    </strong>
                  </h4>
                  <p  style="color: rgba(247, 239, 167, 0.85); text-align: center; font-family: Arial, sans-serif; 
                  font-size: 22px;">      
                      I'm a developer , loves to learn and create things out of the box.
                      Most used toolkit : Charged laptop with an internet connection 😉.
                  </p>
            
            <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
              data-aos-anchor="data-aos-anchor">Hire Me</a>
            <a class="btn btn-primary"
              href="https://drive.google.com/open?id=1PtDJ8b8alSKpWRF5ampx6rx77auRG5rb" target="_blank"
              data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
          </div>
        </div>
    </div>
  </div>